<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Список контактов</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="https://ru.vuejs.org/images/icons/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="app" v-cloak>
    <h1>Список контактов</h1>
    <ul class="contact-list-container">
      <li class="contact-list-item" v-for="(item, index) in contactList" :key="item.name"
        @click.self="editContact(index)">
        <div @click.self="editContact(index)" class="name">{{item.name}}</div>
        <div v-if="editMode && !editWindowOpen" class="mini-button delete" @click="clickDelete(index)"><i class="fas fa-trash"></i></div>
        <p @click.self="editContact(index)">{{item.other[0].head}} - {{item.other[0].body}}</p>
      </li>
    </ul>
    <div class="mini-button edit" v-bind:class="{on: editMode}" v-bind:style="{transform: editWindowShow ? 'translate(0px,60px)' : ''}" title="Редактировать" @click="toggleEditMode()">
      <i class="fas fa-edit"></i>
    </div>
    <div v-bind:style="{opacity: editWindowShow ? '0' : '1'}" class="mini-button add" title="Добавить контакт" @click="newContact()">
      <i class="fas fa-plus"></i>
    </div>
    <div class="mini-button undo" v-if="editHistoryMain.length != 0 || editHistoryEdit.length > 0" title="Отменить" @click.self="clickUndo()">
      <i @click.self="clickUndo()" class="fas fa-undo-alt"></i>
    </div>
    <div class="dark-back" v-if="editWindowOpen" @click.self="closeEdit(), clearInputs()">
      <div class="input-edit-area block-design">
        <div class="mini-button" title="Закрыть" @click="closeEdit(), clearInputs()"><i class="fas fa-times"></i></div>
        <h2>{{editWindowShow? 'Редактирование' : 'Создание'}} контакта</h2>
        <div class="info-item">
          <span>Имя</span>
          <input type="text" @change="updateHistory()" name="name" v-model.lazy="editContactName" autofocus
            placeholder="Введите имя">
        </div>
        <ul class="values-list-container">
          <li v-for="valueItem in editContactData" class="values-list-item info-item">
            <input type="text" @change="updateHistory()" name="name" v-model.lazy="valueItem.head"
              placeholder="Название">
            <input type="text" @change="updateHistory()" name="name" v-model.lazy="valueItem.body"
              placeholder="Значение">
          </li>
        </ul>
        <div class="mini-button inline" title="Добавить контакт" @click="addOtherInputArea()"><i
            class="fas fa-plus"></i></div>
        <div class="bea-button" @click="saveOrEdit()">Сохранить</div>
      </div>
    </div>
    <div class="dark-back" v-if="notifуData.show" @click.self="closeNotif()">
      <div class="notif-edit-area block-design">
        <h3>{{notifуData.head}}</h3>
        <p>{{notifуData.body}}</p>
        <div class="bea-button" @click.self="notifуData.callback(), closeNotif()">ОК</div>
      </div>
    </div>
  </div>
  <script src="./script.js"></script>
</body>

</html>