/* основное */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

/* перед рендером скрыть */
[v-cloak] {
  display: none;
}

body {
  background-color: #ffffff;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}

h2 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 18px;
}

/* фундаментальный стиль для блоков */
.block-design {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 5px 0px #00000080;
}

/* стиль для кнопок */
.bea-button {
  padding: 0.5em;
  border-radius: 2em;
  background-color: #7fffd4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color linear 0.2s;
}

.bea-button:hover {
  background-color: #00ffaa;
}

/* стиль для полей ввода*/
input[type="text"] {
  padding: 0.5em;
  display: block;
  width: -webkit-fill-available;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  text-align: end;
}

.contact-list-item {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  cursor: pointer;
  list-style: none;
}

.contact-list-item .name {
  font-size: 20px;
  font-weight: bold;
}

.contact-list-item .button-area {
  display: flex;
}

.mini-button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #7fffd4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 0.2s linear, transform ease 0.4s, opacity linear 0.4s;
}

.mini-button:hover {
  background-color: #00ffaa;
}

.mini-button.add, .mini-button.undo, .mini-button.edit {
  top: initial;
  bottom: 10px;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px 0px #00000080;
}

.mini-button.undo {
  left: 10px;
  right: initial;
  z-index: 1;
}

.mini-button.add > i, .mini-button.undo > i {
  font-size: 22px
}

.mini-button.edit {
  right: 10px;
  bottom: 70px;
  z-index: 1;
}

.mini-button.edit.on {
  background-color: #ff7f7f;
}

.mini-button.delete {
  background-color: #ff7f7f;
}

.dark-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
}

.input-edit-area {
  width: calc(100% - 60px);
  margin: 10px;
  position: absolute;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mini-button.inline {
  position: unset;
}

.values-list-container {
  max-height: 500px;
  overflow: auto;
}

.values-list-item {
  display: flex;
  justify-content: space-between;
}

.info-item input {
  width: 50%;
  padding: 10px 0;
}

.info-item input:first-child {
  text-align: start;
}

.contact-list-container {
  overflow: auto;
  height: calc(100% - 55px);
}

.contact-list-item p {
  font-size: 12px;
  color: #808080;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }

  h1 {
    border-bottom: 1px solid #202020;
  }

  .block-design {
    background-color: #222222;
  }

  input[type="text"] {
    color: #ffffff;
  }

  .bea-button {
    background-color: #483d8b;
  }

  .bea-button:hover {
    background-color: #7365d3;
  }

  .contact-list-item {
    border-bottom: 1px solid #202020;
  }

  .mini-button {
    background-color: #483d8b;
  }

  .mini-button:hover {
    background-color: #7365d3;
  }
}

@media screen and (min-width: 800px) {
  #app {
    width: 400px;
    height: 720px;
    margin: auto;
    position: relative;
    border: 1px solid #d4d4d4;
    border-radius: 25px;
    transform: translate(0, 100px);
    overflow: hidden;
    box-shadow: 5px 5px 10px 2px #00000080;
  }
}